/* **************************
fonts 
*******************************/
h1,
h2,
h3,
h4,
h5 {
  font-family: "EB Garamond", serif;
}
p {
  font-family: "Poppins", sans-serif;
}
/* ***************************
stylesheet css  
*************************************/
.client-img-1 {
  background-image: url("../images/slider-3.jpg");
  height: 100vh;
}
.client-img-2 {
  background-image: url("../images/slider-1.jpg");
  height: 100vh;
}
.client-img-3 {
  background-image: url("../images/slider-2.jpg");
  height: 100vh;
}
.banner-mg {
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
}
.btn-primary-2 {
  background-color: #b68c5a;
}
.btn-primary-2:hover {
  background-color: #b68c5a;
}
.text-dark-2 {
  color: #414040;
}
.text-dark-3 {
  color: #707070;
}
.carousel-caption-2 {
  bottom: -25px;
}


